@model IEnumerable<Instructor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowInstructors</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Password</th>
                <th>Address</th>
                <th>Image ID</th>
                <th>Salary</th>
                <th>Hiring Date</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="10">No Instructors Found</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Ins_Id</td>
                        <td>@item.Name</td>
                        <td>@item.Age</td>
                        <td>@item.Email</td>
                        <td>@item.Password</td>
                        <td>@item.Address</td>
                        <td>@item.Img_Id</td>
                        <td>@item.Salary</td>
                        <td>@item.HiringDate</td>
                        <td>
                            <a asp-action="EditInstructor" asp-controller="InstructorCRUD" asp-route-id=" @item.Ins_Id" class="btn btn-primary">Edit</a>
                            <a asp-action="DeleteInstructor" onclick="return confirm('Are you sure?')" asp-controller="InstructorCRUD" asp-route-id=" @item.Ins_Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <a class="btn btn-danger text-light" asp-action="InsertInstructor" asp-controller="InstructorCRUD">Insert</a>
</body>
</html>
