@model IEnumerable<Track>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Index</title>
</head>
<body>
    <div class="container">


        @if (Model.Count() == 0)
        {
            <p class="text-danger">No Track are available.</p>
        }
        else
        {
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Track ID</th>
                        <th>Track Name</th>
                        <th>Description</th>
                        <th>Supervisor</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.TrackId</td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            @if (@item.Instructor?.Name==null)
                            {
                                <td>-</td>
                            }
                            else
                            {
                                <td>@item.Instructor.Name</td>

                            }
                            <td>
                                <a asp-action="EditTrack" asp-controller="TrackCRUD" asp-route-TrackId="@item.TrackId">Update</a>
                                <a asp-action="DeleteTrack" asp-controller="TrackCRUD" asp-route-TrackId="@item.TrackId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <a asp-action="CreateTrack" asp-controller="TrackCRUD" class="btn btn-primary">Add</a>
    </div>
</body>
</html>

